// Facebook Poll Preview div (right side)

.fbpreview {
  background: #efefef;
  flex-grow: 4;
  // max-width: 800px;
  position: relative;

  &__title {
    position: absolute;
    color: $text-color;
    font-size: 3rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
  }

  &__watermark {
    position: absolute;
    color: $text-color;
    font-weight: bold;
    right: 10px;
    bottom: 10px;
    text-shadow: 2px 2px 2px #000;
  }

  &__icons {
    display: flex;
    justify-content: space-around;
    height: 100%;
    aspect-ratio: 4/3; // Experimental, so use some fallbacks

    &__icon {
      background-size: cover;
      background-position: center;
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-items: flex-end;
      padding-block-end: 2rem;

      &__like {
        background-color: #c1deec;
      }

      &__love,
      &__care {
        background-color: #f8b8c0;
      }

      &__angry {
        background-color: #fa9956;
      }

      &__haha,
      &__sad,
      &__wow {
        background-color: #f8edc7;
      }

      & img {
        width: 150px;
        height: autopx;
      }
    }
  }
}
