label {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

input {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type='text'],
input[type='file'] {
  width: 100%;
  max-width: stretch;
}

input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
  zoom: 1.3;
  accent-color: var(--theme-color);
}

.light {
  color: var(--light-color);
  text-shadow: 2px 2px 2px #000;
}

.dark {
  color: var(--dark-color);
}

.bottom {
  justify-content: flex-end;
  padding-block-end: 2rem;
}

.middle {
  justify-content: center;
}

.top {
  padding-block-start: 2rem;
}
// @media (max-width: 415px) {
//   input {
//     padding: 12px;
//     font-size: 1.2rem;
//   }

//   input[type='text'] {
//     width: 100%;
//   }
//   input[type='checkbox'] {
//     zoom: 2;
//   }
// }
