:root {
  --placeholder-primary: #f8edc7;
  --placeholder-secondary: #fa9956;
}

.image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: placeholder ease-in-out 2s infinite;
}

@keyframes placeholder {
  0% {
    background-color: var(--placeholder-primary);
  }
  50% {
    background-color: var(--placeholder-secondary);
  }
  100% {
    background-color: var(--placeholder-primary);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
.item.loaded .image-container {
  animation: none;
}
.item.loaded .image-container img {
  animation: fadeIn linear 0.5s;
}
