// Facebook Poll options right sidebar

.fboption {
  flex-grow: 1;
  width: 300px;

  &__label {
    display: block;
    font-weight: bold;
    margin: 1rem 0;
  }

  &__checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;

    & img {
      cursor: pointer;
      width: 48px;
      height: 48px;
    }

    & input[type='checkbox'] {
      position: absolute;
      left: -3px;
      top: -3px;
      z-index: 10;
      zoom: 1.5;
      cursor: pointer;
    }
  }

  &__item {
    display: grid;
    gap: 10px;
    padding: 1rem;
    margin: 1rem 0;
    background: #efefef;
    border-radius: 5px;

    &__img {
      background-size: cover;
      border: 3px solid #fff;
      width: 80px;
      height: 80px;
    }
  }
}
