// Facebook Poll options right sidebar

.fboption {
  flex-grow: 1;
  width: 300px;
  padding: 1rem;

  &__label {
    display: block;
    font-weight: bold;
    margin: 1rem 0;
  }

  &__checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;

    & img {
      cursor: pointer;
      width: 48px;
      height: 48px;
      filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
    }

    & input[type='checkbox'] {
      position: absolute;
      left: -3px;
      top: -3px;
      z-index: 10;
      zoom: 1.5;
      cursor: pointer;
    }
  }

  &__item {
    padding: 1rem;
    margin: 1rem 0;
    background: #efefef;
    border-radius: 5px;
  }
}
