label {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

input {
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type='text'],
input[type='file'] {
  width: 100%;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
  max-width: stretch;
}

input[type='checkbox'],
input[type='radio'] {
  cursor: pointer;
  zoom: 1.3;
  accent-color: var(--theme-color);
}

.light {
  color: var(--light-color);
  text-shadow: 2px 2px 2px #000;
}

.dark {
  color: var(--dark-color);
}

.bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-padding-after: 2rem;
          padding-block-end: 2rem;
}

.middle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top {
  -webkit-padding-before: 2rem;
          padding-block-start: 2rem;
}

:root {
  --placeholder-primary: #f8edc7;
  --placeholder-secondary: #fa9956;
}

.box {
  border-radius: 50%;
  -webkit-animation: placeholder ease-in-out 2s infinite;
          animation: placeholder ease-in-out 2s infinite;
}

.image.empty {
  width: 150px;
  height: 150px;
}

.icon {
  width: 48px;
  height: 48px;
  --placeholder-primary: #efefef;
  --placeholder-secondary: #ddd;
}

.image.like {
  --placeholder-primary: #c1deec;
  --placeholder-secondary: #245dfe;
}

.image.love {
  --placeholder-primary: #f8b8c0;
  --placeholder-secondary: #f55065;
}

@-webkit-keyframes placeholder {
  0% {
    background-color: var(--placeholder-primary);
  }
  50% {
    background-color: var(--placeholder-secondary);
  }
  100% {
    background-color: var(--placeholder-primary);
  }
}

@keyframes placeholder {
  0% {
    background-color: var(--placeholder-primary);
  }
  50% {
    background-color: var(--placeholder-secondary);
  }
  100% {
    background-color: var(--placeholder-primary);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.loaded.image.box,
.loaded.icon.box {
  -webkit-animation: none;
          animation: none;
}

.loaded.image.box img,
.loaded.icon.box img,
.loaded.icon.box source {
  -webkit-animation: fadeIn linear 0.5s;
          animation: fadeIn linear 0.5s;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.nav a {
  padding: 10px;
}

@media (max-width: 415px) {
  .header .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fboption {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 300px;
}

.fboption section {
  margin-bottom: 1rem;
}

.fboption__radio__items {
  padding: 10px 1rem;
  background: #efefef;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fboption__radio__items label {
  font-weight: normal;
  cursor: pointer;
}

.fboption__label {
  display: block;
  font-weight: bold;
  margin: 1rem 0;
}

.fboption__checkboxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.fboption__checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fboption__checkbox img {
  cursor: pointer;
  width: 48px;
  height: 48px;
}

.fboption__checkbox input[type='checkbox'] {
  position: absolute;
  left: -3px;
  top: -3px;
  z-index: 10;
  zoom: 1.5;
  cursor: pointer;
}

.fboption__item {
  display: -ms-grid;
  display: grid;
  gap: 10px;
  padding: 1rem;
  margin: 1rem 0;
  background: #efefef;
  border-radius: 5px;
}

.fboption__item__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.fboption__item__img {
  position: relative;
  background-size: cover;
  border: 5px solid #fff;
  border-radius: 3px;
  width: 80px;
  height: 80px;
}

.fboption__item__img__close {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #eb510a;
  color: #fff;
  font-weight: bold;
}

.fbpreview {
  background: #fff;
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  width: 800px;
  max-height: 600px;
  position: relative;
}

.fbpreview__title {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.fbpreview__watermark {
  position: absolute;
  font-weight: bold;
  right: 10px;
  bottom: 10px;
}

.fbpreview__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.fbpreview__icons__icon {
  background-size: cover;
  background-position: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fbpreview__icons__icon p {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.fbpreview__icons__icon img {
  width: 150px;
  height: autopx;
}
/*# sourceMappingURL=style.css.map */